@model Arcus.Web.Infra.ViewModels.HomePageViewModel
@*@section TitleContent{
    Index page
}

@section HeaderContent{

}*@

@{
    ViewBag.Title = "Arcus Associates";
    <span class="text-danger a-size-small "> @ViewBag.Message</span>
}

@Html.Partial("_Header", Model.Header)
@Html.Partial("_MainPage", Model.MainPage)
@Html.Partial("_Footer", Model.Footer)

